*.class
*.log
MyDemo/bin/
MyDemo/gen

SlidingMenu/.idea/
SlidingMenu/.settings/
SlidingMenu/bin/
SlidingMenu/gen/

ActionBarSherlock/.idea/
ActionBarSherlock/.settings/
ActionBarSherlock/bin/
ActionBarSherlock/gen/

appcompat_v7/.idea/
appcompat_v7/.settings/
appcompat_v7/bin/
appcompat_v7/gen